@import url('https://fonts.googleapis.com/css2?family=Abel&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// color
$cor1: #fff;
$cor2: #000;
$cor3: #083c75;
$cor4: #12141a;

// fonts
$fontSpaceMono: 'Space Mono', sans-serif;
$fontAbel: 'Abel', sans-serif;