@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk:wght@300..700&display=swap');

// color
$cor1: #fff;
$cor2: #000;
$cor3: #083c75;
$cor4: #12141a;

// fonts
$fontArchivoBlack: 'Archivo Black', sans-serif;
$fontSpaceGrotesk: 'Space Grotesk', sans-serif;