@use "./config/reset.scss";
@use "./config/variaveis.scss";

body {
    background-color: variaveis.$cor1;
    overflow-x: hidden;
}

label.error {
    color: red;
}

@mixin button() {
    background-color: #16161d;
    color: whitesmoke;
    border: 1px solid #16161d;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all .3s ease-in-out;

    cursor: pointer;

    &:hover {
        transition: all .3s ease-in-out;
        background-color: whitesmoke;
        color: #16161d;
    }
}

@mixin titleH1() {
    font-family: variaveis.$fontSpaceMono;
    font-size: 4rem;
    font-weight: 400;
}

@mixin titleH2() {
    @include titleH1();
    font-size: 2.8rem !important;
}

@mixin titleH3() {
    @include titleH1();
    font-size: 2.2rem !important;
}

@mixin titleH4() {
    @include titleH1();
    font-size: 1.6rem !important;
}

@mixin p1() {
    font-family: variaveis.$fontAbel;
    font-size: 1.4rem;
    font-weight: 600;
}

@mixin p2() {
    @include p1();
    font-size: 1.2rem !important;
}

@mixin p3() {
    @include p1();
    font-size: 1rem !important;
}

.gif {
    position: fixed;
    right: 1px;
    bottom: 1px;
    z-index: 1000;
}

.gif a img {
    height: 125px;
    width: auto;
}


header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: variaveis.$cor1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    div.navbar {
        div.container {
            img {
                height: auto;
                width: 150px;
            }

            button {
                background-color: #000
            }

            nav {
                .nav-pills {
                    .nav-link {
                        @include p2();
                        color: variaveis.$cor2;
                        font-weight: 600;

                        &::after {
                            content: "";
                            display: block;
                            width: 0;
                            height: 2px;
                            background-color: variaveis.$cor2;
                            transition: width .3s ease-in-out;
                        }
                    }


                    .nav-link.active {
                        background: transparent;

                        &::after {
                            width: 100%;
                        }

                        a {
                            font-weight: 700;
                            color: variaveis.$cor2;
                        }
                    }
                }
            }
        }
    }
}

div.background {
    background-color: variaveis.$cor3;

    section {
        height: max-content;
    }

    section:nth-of-type(1) {
        height: auto;

        div {
            button {
                height: 70px;
                width: 70px;
                background-color: variaveis.$cor2;
                border-radius: 50%;

                span {
                    height: 50%;
                    width: 50%;
                }
            }

            div.carousel {
                height: auto;
                width: 75% !important;

                div.carousel-inner {
                    .carousel-item {
                        img {
                            filter: brightness(0.7);
                        }

                        div.carousel-caption {
                            width: 70%;
                            display: flex;
                            justify-content: start;
                            align-items: end;

                            h2 {
                                @include titleH2();
                                color: variaveis.$cor1;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            div.title{
                h1 {
                    font-size: 3rem !important;
                }
            }

            div {
                button {
                    height: 30px;
                    width: 30px;

                    span {
                        height: 30%;
                        width: 30%;
                    }
                }

                div.carousel {
                    height: auto;
                    width: 100% !important;

                    div.carousel-inner {
                        .carousel-item {
                            div.carousel-caption {
                                width: 100%;

                                h2 {
                                    @include titleH4();
                                    color: variaveis.$cor1;
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    section:nth-of-type(2) {
        height: max-content;
        background-color: variaveis.$cor4;

        div {
            height: 100%;
            padding: 20px;

            div.row:nth-of-type(1) {
                height: inherit;

                h2 {
                    @include titleH2();
                    color: variaveis.$cor1;
                }
            }

            div.row:nth-of-type(2) {
                align-items: stretch;

                div {
                    margin-bottom: 1.5rem;

                    div.card {
                        height: max-content;
                        min-height: 489.73px;

                        div.card-header {
                            border: none;
                            background-color: variaveis.$cor1;

                            i {
                                font-size: 3.5rem;
                                color: variaveis.$cor2;
                            }
                        }

                        div.card-body {
                            width: 100%;
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            h4 {
                                @include titleH2();
                            }

                            p {
                                @include p2();
                            }

                            button {
                                a {
                                    @include p2();
                                    color: variaveis.$cor1;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section:nth-of-type(3) {
        height: 100vh;
        background-color: variaveis.$cor3;

        div.container {
            height: max-content !important;
            position: relative;

            form.row {
                height: max-content;
                width: 65%;
                display: none;
                position: absolute;
                padding: 16px;
                background-color: whitesmoke;
                z-index: 2;

                div.title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    h1 {
                        @include titleH3();
                        font-size: 2em;
                        color: variaveis.$cor2;
                    }

                    i {
                        font-size: 2.5em;
                        cursor: pointer;
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                div.row {
                    div.col,
                    div.col-md-6 {
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: 4px;
                            font-weight: bold;
                            @include p2();
                        }

                        input,
                        textarea {
                            padding: 6px;
                            @include p3();
                            width: 100%;
                            margin-bottom: 10px;
                        }

                        textarea {
                            resize: none;
                            height: 70px;
                        }

                        button {
                            @include p3();
                            @include button();
                            width: 100%;
                        }
                    }
                }
            }

            @media(max-width: 1025px){
                form.row {
                    width: 100% !important;
                }
            }

            div.row {
                min-height: 100%;
                z-index: 1;
                position: relative;

                div.col-lg-6 {
                    height: 100%;

                    div.contato-text {
                        color: variaveis.$cor1;

                        h1 {
                            @include titleH2();
                        }

                        p {
                            @include p2();
                        }

                        button {
                            height: 50px;
                            width: 200px;
                            border: none;
                            padding: 15px;
                            border-radius: 25px;
                            background-color: variaveis.$cor1;
                            @include p3();
                            color: variaveis.$cor2;
                        }
                    }
                }
            }
        }
    }


    section:nth-of-type(4) {
        background-color: variaveis.$cor1;

        div.container {
            div.row:nth-of-type(1) {
                height: max-content;
                justify-content: center;
                align-items: center;

                h2 {
                    @include titleH2();
                }
            }

            div.row:nth-of-type(2) {
                div.col-lg-6 {
                    p {
                        @include p2();
                    }
                }
            }

            div.row:nth-of-type(3) {
                height: 200px;

                div.col-12 {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    h2 {
                        @include titleH2();
                    }

                    a {
                        color: variaveis.$cor2;
                        text-decoration: none;
                        transition: all .3s ease-in-out;

                        i {
                            @include titleH3();
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

    section:nth-of-type(5) {
        height: auto;
        padding: 3rem 1.5rem;
        background-color: variaveis.$cor3;

        div.container {
            height: auto;

            div.row:nth-of-type(1) {
                height: 20%;
                text-align: center;

                h2 {
                    @include titleH2();
                    color: variaveis.$cor1;
                }
            }

            div.row:nth-of-type(2) {
                height: 80%;
                flex-direction: column;
                align-items: center;

                div.carousel {
                    width: 100%;

                    div.carousel-inner {
                        div.carousel-item {
                            h2 {
                                @include titleH4();
                                color: variaveis.$cor1;
                            }

                            h4 {
                                @include p1();
                                color: variaveis.$cor1;
                            }
                        }

                    }
                }

                div.carousel-btn-2 {
                    flex-direction: row;
                    justify-content: center;
                    gap: 2rem;

                    div {
                        height: 100%;
                        width: auto;
                        gap: 2rem;

                        button {
                            height: 50px;
                            width: 50px;
                            background-color: variaveis.$cor2;
                            border-radius: 50%;

                            span {
                                height: 50%;
                                width: 50%;
                            }
                        }
                    }

                }
            }
        }

        @media (max-width: 768px) {
            div.row:nth-of-type(1) h2 {
                font-size: 1.8rem !important;
            }

            div.carousel-item h2 {
                font-size: 1.4rem !important;
            }

            div.carousel-item h4 {
                font-size: 1rem !important;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variaveis.$cor3;
    color: variaveis.$cor1;
    border-top: 1px solid #000;

    h1 {
        @include titleH4();
    }

    h2 {
        @include p1();
    }
}